{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}

<div class="container py-5">
  <h2>Привет, меня зовут Андрей Колесник</h2>
  <article>
    <p>
      Мир программирования стал привлекателен для меня еще несколько лет назад. В то время было меньше материалов для обучения и курсов.
      Тем не менее, я сумел самостоятельно освоить азы html, css, javascript и коснулся изучения библиотеки React.
      При создании своего сайта и по результатам конструктивной критики я убедился в том, что дизайн не совсем мое и я хочу
      больше заниматься написанием логики сайта, погрузиться с головой в раздел бесопасности и быть полезным на бекэнде. 
      Выбор между обучающими компаниями не стоял от слова совсем, так как яндекс - это лидер, гарантия качества, ценность
      знаний и диплома. Таким образом, я здесь!
    </p>
    <p>
      Должен сказать, что в профессии больше всего меня вдохновляет возможность реализации любых идей заказчика.
    </p>
    <p>
      Кстати, практически с начала обучения я помогаю одной симпатичной девушке с нашей кагорты. Она старается, несколько раз уже думала все бросить,
      но по-прежнему в строю. Мне приятно осознавать, что уже сейчас я имею полезность для своего окружения в сфере современных технологий! 
    </p>
    <h6><a href="https://andrey-kolesnik.com" target="_blank">Ссылка на сайт</a><h6>
    <h6><a href="https://github.com/andrey-kolesnik-moscow" target="_blank">Ссылка на github</a><h6>
  </article>
</div>


{% endblock %} 

